<div class="container">
  <div class="jumbotron">
    <h1>Bookie</h1>
    <p class="lead">Welcome to Bookie 0.1</p>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4>Subheading</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
      </p>
    </div>

    <div class="col-lg-6">
      <h4>Subheading</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
      </p>
    </div>
  </div>
</div> <!-- /container -->
